body {
    background-color: #06002b;
    background-image: url("../../assets/dark3.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.logo img{
    max-width: 7vw;
    max-height: auto;
    margin-left: 1vw;
}
.retour{
    margin-top:-7vw;
    margin-left: 85vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
    color: var(--couleur-or);
    font-size: 2vw;
}

.retour button{
    margin: 10px;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:var(--couleur-marron);
    background-color: var(--couleur-creme);
    border: 2px solid;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 15px 0 rgba(0,0,0,0.19);

}

.retour button:hover{
    background-color: var(--couleur-marron);
    color:var(--couleur-creme);
    cursor: pointer;
    border: 2px solid;
    border-color: var(--couleur-marron);
}


.titre{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 40%);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.titre h1{
    color: var(--couleur-creme);
    font-family: 'Montserrat';
    font-size: 4vw;
}

.titre h2{
    color: var(--couleur-or);
    font-family: 'Montserrat';
    font-size: 1.5vw;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

.titre.image{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.menu{
    margin: 0 auto 0 auto;
    width: 100vh;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 2.5% 2.5% 2.5% 2.5%;
    flex-direction: column;
    font-family: 'Montserrat';
    color: var(--couleur-or);
    display: flex;
    font-size: 3vw;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 40%);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}


.menu button{
    margin: 10px;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:var(--couleur-marron);
    background-color: var(--couleur-creme);
    border: 2px solid;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 15px 0 rgba(0,0,0,0.19);
}

.menu button:hover{
    background-color: var(--couleur-marron);
    color:var(--couleur-creme);
    cursor: pointer;
    border: 2px solid;
    border-color: var(--couleur-marron);
}
.menu input {
    display: flex;
    align-items: center;
    border: 2px solid var(--couleur-or);
    border-radius: 4px;
    width: 15vw;
    height: 2vw;
    margin-top: -4.5vw;
}
.menu .acceder{
    margin-top: -3vw;
}
footer{
    text-align: center;
    height: 9vw;
    border-top:solid;
    border-width:10px;
    border-color:var(--couleur-or);
    margin-top: -9vw;
    background-color: #111111;
}